.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.ts.timestamp-*
vite.config.js.timestamp-*
pb_data

# AI and Planning Docs
.agents
.agent
CLAUDE.md
.claude
AGENT.md
.planning
.claude-flow
.swarm
apple-design
claude-flow.config.json
ruvector.db
